@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";


:root {
  --color-bg: #0f0f0f;
  --color-text: #f4f2ee;
  --color-copper: #b56e3e;
  --color-steel: #7a7a7a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

button {
  transition: all 0.3s ease;
}

.bg-copper {
  background-color: var(--color-copper);
}
.bg-copper:hover {
  background-color: #d1824a;
}

.text-copper {
  color: var(--color-copper);
}

.text-steel {
  color: var(--color-steel);
}
